<a href="#" class="logo">APERTURE</a>
<div class="burger-menu"></div>
<div class="navbar">
	<div class="nav-links">
		<a href="#">Home</a>
		<a href="#">Gallery</a>
		<a href="#">Explore</a>
		<a href="#">Sign In</a>
	</div>
</div>
